Introduction to Pandas

1. Understanding pandas and Numpy

In [1]:
import pandas as pd
f500 = pd.read_csv('f500.csv',index_col=0)
f500.index.name = None

f500_type = type(f500)
f500_shape = f500.shape

2. Introducing DataFrames

In [2]:
f500_head = f500.head(6)
f500_tail = f500.tail(8)

2-1. Introducing DataFrames Continued

In [3]:
f500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Walmart to AutoNation
Data columns (total 16 columns):
rank                        500 non-null int64
revenues                    500 non-null int64
revenue_change              498 non-null float64
profits                     499 non-null float64
assets                      500 non-null int64
profit_change               436 non-null float64
ceo                         500 non-null object
industry                    500 non-null object
sector                      500 non-null object
previous_rank               500 non-null int64
country                     500 non-null object
hq_location                 500 non-null object
website                     500 non-null object
years_on_global_500_list    500 non-null int64
employees                   500 non-null int64
total_stockholder_equity    500 non-null int64
dtypes: float64(3), int64(7), object(6)
memory usage: 66.4+ KB

3. Selecting a Column From a DataFrame by Label

In [4]:
industries = f500.loc[:,'industry']
industries_type = type(industries)

4. Introduction to series
1) 2D: Data Frame
2) 1D: Data Series

In [5]:
countries = f500['country']
revenues_years = f500[['revenues', 'years_on_global_500_list']]
ceo_to_sector = f500.loc[:, 'ceo':'sector']

5. Selecting Rows From a DataFrame by Label

In [6]:
toyota = f500.loc["Toyota Motor"]
drink_companies = f500.loc[["Anheuser-Busch InBev", "Coca-Cola", "Heineken Holding"]]
middle_companies = f500.loc["Tata Motors":"Nationwide", "rank":"country"]

6. Value Counts Method

In [7]:
f500_sel = f500.loc[["Walmart", "State Grid", "Sinopec Group", "China National Petroleum",
                     "Toyota Motor", "Apple"]]

countries = f500_sel["country"]
country_counts = countries.value_counts()

7. Selecting Items from a Series by label

In [8]:
countries_counts = f500["country"].value_counts()
india = countries_counts["India"]
north_america = countries_counts[["USA", "Canada", "Mexico"]]

8. Summary Challenge

In [9]:
big_movers = f500.loc[["Aviva", "HP", "JD.com", "BHP Billiton"], ["rank", "previous_rank"]]
bottom_companies = f500.loc["National Grid":"AutoNation", ["rank", "sector", "country"]]