1. Introduction

2. Finding a Column's Minimum and Maximum Values in SQL

3. Calculating Sums and Averages in SQL

4. Combining Multiple Aggregation Functions

5. Customizing The Results

6. Counting Unique Values

7. Performing Arithmetic in SQL